<!DOCTYPE html>
<div hide-xs show-gt-xs ui-grid="vm.grid" ui-grid-pagination class="eleusis-browser-table" ui-grid-resize-columns flex></div>
<md-list hide-gt-xs show-xs class="eleusis-browser-list">
    <md-list-item class="md-2-line" ng-repeat="item in vm.grid.data" ng-click="vm.details(item['ID'])">
        <div aria-label="Go to Honor" layout-margin>
            <h3>{{ item['ID'] }}<h3>
        </div>
        <div class="md-list-item-text">
            <h3>{{ item['Honor'] }}<h3>
            <p>{{ item['Origin'] }} <span ng-if="item['Category'] != null">|</span>  {{ item['Category'] }} <span ng-if="item['Type'] != null">|</span>  {{ item['Type'] }}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>
