<!DOCTYPE html>
<div layout-padding ng-if="vm.style === 'md-accent'">
    <md-toolbar class="md-toolbar-tools md-accent md-whiteframe-8dp" layout-align="center center">
        <span>{{ vm.content }}</span>
    </md-toolbar>
</div>
<div layout-padding ng-if="vm.style === 'md-primary'">
    <md-toolbar class="md-toolbar-tools md-primary md-whiteframe-8dp" layout-align="center center">
        <span>{{ vm.content }}</span>
    </md-toolbar>
</div>
<div layout-padding ng-if="vm.style === 'md-warn'">
    <md-toolbar class="md-toolbar-tools md-warn md-whiteframe-8dp" layout-align="center center">
        <span>{{ vm.content }}</span>
    </md-toolbar>
</div>
