<!DOCTYPE html>
<html>
  <head>
    <title>API Instructions</title>
  </head>
  <body>
    <h1>API Instruction - Networks of Roman Eleusis</h1>
    <p>
      <i>Welcome to the data feed for the networks of Roman Eleusis. All data is returned in JSON format</i>
    </p>
    <p>
      List of tables....
    </p>
    <ul>
      <li>
        <span>inscriptions</span><span><a href="https://eleusis.thePort.us/api/inscriptions/">API Endpoint</a></span>
      </li>
      <li>
        <span>institutions</span><span><a href="https://eleusis.thePort.us/api/institutions/">API Endpoint</a></span>
      </li>
      <li>
        <span>people</span><span><a href="https://eleusis.thePort.us/api/people/">API Endpoint</a></span>
      </li>
      <li>
        <span>honors</span><span><a href="https://eleusis.thePort.us/api/honors/">API Endpoint</a></span>
      </li>
      <li>
        <span>networks</span><span><a href="https://eleusis.thePort.us/api/networks/">API Endpoint</a></span>
      </li>
    </ul>
    <p>
      The URL structure is as follows...
    </p>
    <p>
      To access all entries in a given table, follow the pattern https://eleusis.thePort.us/api/TABLE_NAME/. (e.g. <a href="https://eleusis.thePort.us/api/inscriptions/">https://eleusis.thePort.us/api/inscriptions/</a>)
    </p>
    <p>
      To access a single item's detailed entry, follow the pattern https://eleusis.thePort.us/api/TABLE_NAME/ID_NUMBER/ (e.g. <a href="https://eleusis.thePort.us/api/inscriptions/300/">https://eleusis.thePort.us/api/inscriptions/300/</a>)
    </p>
    <p>
      Enjoy and you are free to use the data but please do not redistribute it.
    </p>
    <p>
      <a href="https://thePort.us">Return to thePort.us</a>
    </p>
  </body>
</html>
